iframe{}
body {
 background-color:blue;
 font-family: "Comic Sans MS", "Comic Sans", cursive;
}
h1{
 font-family: "Comic Sans MS", "Comic Sans", cursive;
}
#content{
 width:50%;
 background-color:white;
 border:4px black solid;
 border-radius:8px;
 padding-bottom:10px;
}
button{
 background:black;
 color:white;
}
